<%= render "shared/header" %>

<div class="container">

  <select onchange="if (this.selectedIndex) window.location.href = '/?tag=' + this.options[this.selectedIndex].value ">
    <option>All</option>
    <% @tags.each do |tag| %>
      <option value="<%= tag.tag %>" <%= if tag.tag == params[:tag] then 'selected' end %> ><%= "#{tag.tag}(#{tag.count})"%></option>
    <% end %>
  </select>

  <div>
    <%  @base_images.each do |image| %>
      <a href="/app/create?id=<%=image.base_image.id%>" class="link"><img src="<%= image.base_image.src  %>" class="thumb"></a>
    <% end %>
  </div>
  
  <span class="button u-full-width">Load More</span>

</div>